.update-wrapper {
  max-width: 600px;
}

.update-wrapper .input-box {
  width: 100%;
  border-radius: 6px;
  border: 1px dashed #ddd;
  padding: 10px 0 20px 0;
  cursor: pointer;
}

.update-wrapper .input-box .svg-box {
  width: 48px;
  height: 48px;
  margin: 20px auto 30px auto;
}

.update-wrapper .input-box .svg-box svg {
  width: 48px;
  height: 48px;
  color: #40a9ff;
}

.update-wrapper .input-box .title {
  margin: 0 0 4px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  text-align: center;
}

.update-wrapper .input-box .desc {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  text-align: center;
}

.update-wrapper .file-list-wrapper {
  margin-top: 20px;
  width: 100%;
}

.update-wrapper .file-list-wrapper .list {
  height: 60px;
  position: relative;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.update-wrapper .file-list-wrapper .list .left {
  float: left;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
}

.update-wrapper .file-list-wrapper .list .left img {
  width: 48px;
  height: 48px;
  display: block;
  float: left;
  margin: 6px 10px;
}

.update-wrapper .file-list-wrapper .list .left .name {
  font-size: 16px;
  color: #666;
  float: left;
  line-height: 60px;
}

.update-wrapper .file-list-wrapper .list .right {
  float: right;
  width: 50px;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.update-wrapper .file-list-wrapper .list .right:hover svg {
  color: red;
}

.update-wrapper .file-list-wrapper .list .right svg {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  color: #999;
}

.update-wrapper .file-list-wrapper .list .file-list-linear {
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(64, 169, 255, 0.8);
}

.message {
  min-width: 250px;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  position: fixed;
  top: -5%;
  left: 50%;
  margin-left: -125px;
  text-align: left;
  padding-left: 20px;
  color: #999;
  background: #ebeef5;
}

.message.success {
  color: #67c23a;
  background: #e1f3d8;
}

.message.wraning {
  color: #e6a23c;
  background: #faecd8;
}

.message.error {
  color: #f56c6c;
  background: #fde2e2;
}

.message.active {
  top: 5%;
  transition: 1s all;
}
